/* Contacto */
.contacto {
  @include flex(column);
  justify-content: center;
  margin-left: 10%;

  &__detalle {
    @include flex(column);
    padding-bottom: 1%;
    color: $color-font;
    width: 95%;
  }
  &__linea {
    border-color: $color-font;
  }
  &__boton {
    padding: 2%;
    margin-top: 3%;
    color: white;
    background-color: $color-boton;
    width: 95%;
    font-size: large;
    box-shadow: 5px 5px 5px#3b4856;
  }
}
