@media (min-width: 768px) {
  /*Todas las paginas*/
  .navbar {
    margin-left: 5%;
    font-size: larger;
  }
  .navbar-nav .nav-link.active {
    --bs-navbar-active-color: #3a4856;
    font-weight: bold;
  }
  /*Contactos*/
  .contacto {
    justify-content: flex-start;
    margin-left: 35%;
  }
  .contacto__detalle {
    width: 75%;
  }
  .contacto__boton {
    width: 75%;
  }
  /*Productos*/
  .plantilla__prod {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1%;
  }
  /*Nosotros*/
  .nosotros {
    grid-template-columns: 40% auto;
    font-size: larger;
  }
  .imgNosotros {
    width: 30%;
  }

  /*Locales*/
  #grilla {
    grid-template-columns: auto 60%;
    justify-items: start;
  }
  .locales__imagen {
    display: block;
    animation: start-left 1.5s ease-in;
  }
  .local1:hover {
    transform: scale(120%);
    transition: all 1.5s;
    color: black;
  }
  .local2:hover {
    transform: scale(120%);
    transition: all 1.5s;
    color: black;
  }
  /*Animaci[on desde la izquierda*/
  @keyframes start-left {
    0% {
      right: 100%;
      opacity: 0;
      transform: translate(-100%);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  .row__tienda {
    font-size: medium;
  }
}
@media (min-width: 1024px) {
  /*Todas las paginas*/
  header {
    flex-direction: row;
    justify-content: flex-start;
  }
  /*Index*/
  .img__main {
    padding: 0.5%;
    width: 62%;
  }
  /*Contacto*/
  .contacto {
    justify-content: flex-start;
    margin-left: 40%;
  }
  .contacto__detalle {
    width: 60%;
  }
  .contacto__boton {
    width: 60%;
  }
}
