/* Nosotros */
.nosotros {
  display: grid;
  grid-template-columns: 60% auto;
  grid-gap: 2rem;
  align-content: stretch;
  color: $color-font;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Montserrat", sans-serif;
}
.imgNosotros {
  width: 70%;
  margin-bottom: 3%;
  border-radius: 50px;
}
